{{#path-navi}}
  <li class="active">订单</li>
{{/path-navi}}
<div class="panel panel-default">
  <div class="panel-heading">收货人信息</div>
  <div class="panel-body">

    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> 姓名</span>
      <input type="text" class="form-control" placeholder="姓名" aria-describedby="basic-addon1">
    </div>

    <br>

    <div class="input-group">
      <span class="input-group-addon"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> 邮件</span>
      <input type="text" class="form-control" placeholder="邮件名" aria-describedby="basic-addon2">
      <span class="input-group-addon" id="basic-addon2">@</span>
      <input type="text" class="form-control" placeholder="域" aria-describedby="basic-addon1">
    </div>

    <br>

    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span> 手机号码</span>
      <input type="text" class="form-control" placeholder="请输入手机号" aria-describedby="basic-addon1">
    </div>

    <br>

    <div class="input-group">
      <span class="input-group-addon"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> 收货地址</span>
      <input type="text" class="form-control" placeholder="请输入收货地址" aria-describedby="basic-addon2">
    </div>

  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">订单详情</div>
  <div class="panel-body">

    <div class="row">
      <div class="col-xs-12 col-md-3">
        <table>
          <tr>
            <td width="39%">
              <a href="#" class="thumbnail">
                <img src="/img/Desert.jpg" alt="数量： 1">
              </a>
            </td>
            <td width="40%">
              <h5>花生油</h5>
            </td>

            <td align="right">
              <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
              <span class="badge">1</span>
              <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
            </td>
          </tr>
        </table>
      </div>
      <div class="col-xs-12 col-md-3">
        <table>
          <tr>
            <td width="39%">
              <a href="#" class="thumbnail">
                <img src="/img/Desert.jpg" alt="数量： 1">
              </a>
            </td>
            <td width="35%">
              <h5>花生油</h5>
            </td>

            <td align="right">
              <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
              <span class="badge">1</span>
              <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
            </td>
          </tr>
        </table>
      </div>
      <div class="col-xs-12 col-md-3">
        <table>
          <tr>
            <td width="39%">
              <a href="#" class="thumbnail">
                <img src="/img/Desert.jpg" alt="数量： 1">
              </a>
            </td>
            <td width="35%">
              <h5>花生油花生油</h5>
            </td>

            <td align="right">
              <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
              <span class="badge">12</span>
              <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
            </td>
          </tr>
        </table>
      </div>
      <div class="col-xs-12 col-md-3">
        <table>
          <tr>
            <td width="39%">
              <a href="#" class="thumbnail">
                <img src="/img/Desert.jpg" alt="数量： 1">
              </a>
            </td>
            <td width="35%">
              <h5>花生油花生油花生油</h5>
            </td>

            <td align="right">
              <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
              <span class="badge">122</span>
              <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
            </td>
          </tr>
        </table>
      </div>
      <div class="col-xs-12 col-md-3">
        <table>
          <tr>
            <td width="39%">
              <a href="#" class="thumbnail">
                <img src="/img/Desert.jpg" alt="数量： 1">
              </a>
            </td>
            <td width="35%">
              <h5>花生油</h5>
            </td>

            <td align="right">
              <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
              <span class="badge">1</span>
              <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
            </td>
          </tr>
        </table>
      </div>


    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">总计</div>
  <div class="panel-body">

    <table class="table">
      <tr>
          <td >
            <span class="input-group-addon" id="basic-addon1" ><span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span> 订单金额：</span>
          </td>

          <td>
            <span class="input-group-addon" id="basic-addon2"><span class="glyphicon glyphicon-yen" aria-hidden="true"></span> 160</span>
          </td>
      </tr>

      <tr>
          <td>
            <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-plane" aria-hidden="true"></span> 运费：</span>
          </td>

          <td>
            <span class="input-group-addon" id="basic-addon2"><span class="glyphicon glyphicon-yen" aria-hidden="true"></span> 20</span>
          </td>
      </tr>

      <tr>
          <td>
            <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-piggy-bank" aria-hidden="true"></span> 优惠券：</span>
          </td>

          <td>
            <span class="input-group-addon" id="basic-addon2"><span class="glyphicon glyphicon-yen" aria-hidden="true"></span> 20</span>
          </td>
      </tr>

      <tr>
          <td>
            <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-yen" aria-hidden="true"></span> 应付金额：</span>
          </td>

          <td>
            <span class="input-group-addon" id="basic-addon2"><span class="glyphicon glyphicon-yen" aria-hidden="true"></span> 160</span>
          </td>
      </tr>


    </table>

    <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-fire" aria-hidden="true"></span> 分享好友将再得9折优惠 <span class="glyphicon glyphicon-fire" aria-hidden="true"></span></span>
  </div>

  <div class="btn-group btn-group-justified" role="group" aria-label="...">
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-send" aria-hidden="true"></span> 提交订单</button>
    </div>
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span> 分享</button>
    </div>
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> 取消</button>
    </div>
  </div>
  <br>
</div>
