<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Lifeasy</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#"><span class="glyphicon glyphicon-grain" aria-hidden="true"></span> 粮油农副</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-tree-deciduous" aria-hidden="true"></span> 民间特产</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-leaf" aria-hidden="true"></span> 应季水果</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span> 保健品</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-baby-formula" aria-hidden="true"></span> 母婴玩具</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">张三</a></li>
        <li><a href="#">购物车</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->


  </div><!-- /.container-fluid -->
  
</nav>
{{outlet}}
